%h3 Subjects
%table.table
  %tr
    %th Name
    %th Full name
    %th Description
    %th Class
  - @subjects.each do |s|
    %tr
      %td= s.name
      %td= s.full_name
      %td= s.description
      %td= s.standard.name
