%h3 Chapters
%table.table
  %tr
    %th Name
    %th Code
    %th Subject
    %th Standard
  - @chapters.each do |c|
    %tr
      %td= link_to c.name, short_choice_questions_path(:chapter_id => c.id)
      %td= c.code
      %td= c.subject.full_name
      %td= c.standard.name
