/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
.options_label{
  font-weight: 700;
}
.options_text{
  margin-left: 25px;
}

.scq_answers{
  margin-left: 15px;
}

.scq_entry{
  position: relative;
}
.scq_entry img{
  max-width: 100%
}
.scq_question {
  padding-right: 30px;
}
.scq_question_row{
  margin: 20px 0;
}

.edit_scq_btn{
  position: relative;
  top: 4px;
  left: 5px;
}

.edit_scq_form select{
  float: right;
  max-width:180px;
}
.edit_scq_form input{
  float: right
}

.hidden_scq_text_edit{
  display: none;
}

.old_question_text_div{
  /*display: inline;*/
  margin-left: 5px;
}